/* TODO: fix grid changin size based on number of items in the grid */
.animeGrid {
  position: relative;
  text-align: center;
}
  
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}
  
.gridItem {
  position: relative;
  border: 1px solid #ccc;
  padding: 16px;
  text-align: left;
}
  
.coverImage {
  width: 100%;
  height: 300px;
}

.animeWatchedInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.editLink {
  color: #059e9a;
}