.navbar {
    background-color: #333;
    padding: 1rem;
  }
  
.navList {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navButton {
    text-decoration: none;
    background-color: #5d782e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.navButton:hover {
    color: #cccccc;
}
  